@import "tailwindcss";

*{
    font-family: "helvetica neue";
}

:root{
    --c1:rgb(10, 36, 65);
    --c2:rgb(26,61,100);
    --c3:rgb(29,84,100);
    --c4:rgb(244,244,244);
    --c5:rgb(13, 13, 13);
    --c6:rgb(27, 27, 27);
    --c7:rgb(49, 49, 49);
    --c8:rgb(19, 18, 18);
    --c9:rgb(145, 148, 153);
    --c10:rgba(20, 20, 20, 0.753);
}